# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
* Python
* R
* Julia

### Some of the commonly used libraries used by Data Scientists include:
* Numpy
* Pandas
* Keras

### Data Science Tools
* Apache Spark
* BigML
* AWS

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
2 + 2

4

In [2]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [4]:
hours = 200 / 60 #This will convert 200 minutes to hours by diving by 60
print(hours)

3.3333333333333335

## **Objectives:**
* R
* Python
* Julia
* Java
* C++